
    <div class="contenedorQyA">
        <h3>Preguntas frecuentes de clientes</h3>
        <input type="checkbox" id="cont2">
        <label class="contlabel" for="cont2">
            <h1>¿De qué trata nuestra tienda Psycho Rekords?</h1>
        </label>
        <div class="contanswer">
            <p>Psycho Rekords es una tienda dedicada a los vinilos de la música más popular del siglo XX. Aquí encontrarás vinilos originales de tus artistas favoritos, con la mejor calidad de sonido para que disfrutes de la música como nunca antes. Cada disco en nuestra tienda ha sido seleccionado con cuidado para ofrecerte una experiencia auténtica y única.</p>
        </div>
        <input type="checkbox" id="cont1">
        <label class="contlabel" for="cont1">
            <h1>¿Cómo me puedo enterar de los productos en existencia más pronto?</h1>
        </label>
        <div class="contanswer">
            <p>Siguiendo nuestras cuentas en Instagram y TikTok, donde publicamos las novedades al momento que están disponibles.</p>
        </div>
        <input type="checkbox" id="cont3">
        <label class="contlabel" for="cont3">
            <h1>¿Es necesario preguntar por la existencia de algún producto?</h1>
        </label>
        <div class="contanswer">
            <p>No, la página se actualiza constantemente para mostrar los productos disponibles. También se informará si algún artículo se agota pronto.</p>
        </div>
        <input type="checkbox" id="cont8">
        <label class="contlabel" for="cont8">
            <h1>¿Todos los vinilos funcionan correctamente?</h1>
        </label>
        <div class="contanswer">
            <p>Sí, nos aseguramos de reparar y probar los vinilos para que estén en condiciones óptimas. Si hay algún pequeño fallo, será notificado para que no resulte problemático o notorio.</p>
        </div>
        <h3>Proceso de compra y pedidos</h3>
        <div class="contenedorQyA">
            <input type="checkbox" id="cont4">
            <label class="contlabel" for="cont4">
                <h1>¿Cómo puedo hacer un pedido?</h1>
            </label>
            <div class="contanswer">
                <p>¡Inicia sesión en nuestra página! Luego selecciona el/los productos que deseas y haz clic en "Agregar al carrito". En la sección del carrito, te pedirán tus datos bancarios. El pago se realizará mediante "banco fake", y finalmente, deberás proporcionar la dirección de entrega.</p>
            </div>
            <input type="checkbox" id="cont5">
            <label class="contlabel" for="cont5">
                <h1>¿Cómo puedo rastrear mi pedido?</h1>
            </label>
            <div class="contanswer">
                <p>El envío se realiza a través de una empresa externa, ya sea FedEx o UPS. Se proporcionará un código de rastreo para que puedas rastrear tu pedido en sus respectivas páginas de forma segura.</p>
            </div>
        <h3>Uso y mantenimiento</h3>
            <input type="checkbox" id="cont6">
            <label class="contlabel" for="cont6">
                <h1>¿Cómo puedo limpiar y mantener los vinilos?</h1>
            </label>
            <div class="contanswer" id="cont6">
                <p>Para mantener tus vinilos en excelente estado, lo primero que haces es limpiar el polvo antes de cada escucha. Usas un cepillo antiestático, pasándolo suavemente por la superficie del disco, siempre siguiendo las ranuras para evitar que el polvo se acumule y afecte el sonido. Si el vinilo está muy sucio, decides hacer una limpieza más profunda. Prepara una mezcla de agua destilada y un poco de alcohol isopropílico, y con un paño de microfibra, limpias el disco con movimientos circulares, siempre siguiendo la dirección del surco.

                    Después de la limpieza, secas el vinilo con un paño limpio y seco, asegurándote de no dejarlo húmedo por mucho tiempo. Para evitar que se acumule polvo o sufra daño por la luz, guardas tus vinilos en fundas de plástico o cartón y los mantienes en posición vertical, como si fueran libros, nunca apilados en exceso. Y no te olvidas de la aguja de tu tocadiscos, que también necesita ser limpiada para evitar que el polvo pase al vinilo, asegurando que el sonido sea siempre claro y nítido.</p>
            </div>
            <input type="checkbox" id="cont7">
            <label class="contlabel" for="cont7">
                <h1>¿Cómo se deben colocar los vinilos en tocadiscos?</h1>
            </label>
            <div class="contanswer">
                <p>Para colocar el vinilo en el tocadiscos, primero levantas el brazo cuidadosamente. Luego, tomas el vinilo por los bordes y lo colocas sobre el plato giratorio, asegurándote de que el agujero central encaje bien en el eje. Ajustas la velocidad según el tipo de vinilo, ya sea 33 1/3 RPM para los LP o 45 RPM para los sencillos. Después, bajas el brazo lentamente, dejando que la aguja se posicione suavemente sobre el borde del disco. Al encender el tocadiscos, el sonido comienza a fluir mientras la aguja sigue el surco del vinilo.</p>
            </div>
        </div>
    </div>
