<div class="cabeceraAbUs">
      <h1>Sobre nosotros</h1>
    </div>
    <div class="contenedorAboutUs">
      <div class="contenidoAboutUs">
        <p>
          Somos un emprendimiento dedicado a la preservación y celebración de la
          música en sus formatos clásicos, especialmente vinilos, cassettes y
          CD's. Para los verdaderos amantes del sonido auténtico, cada uno de
          nuestros productos es cuidadosamente seleccionado para ofrecer una
          experiencia única, rescatando la calidez y esencia del sonido
          analógico. Creemos en la importancia de mantener viva la cultura de lo
          retro en una época donde lo digital predomina.
        </p>
        <p>
          Además de nuestra colección musical, contamos con una selección
          exclusiva de artículos como figuras coleccionables y pines. Estos
          complementos, ideales para personalizar espacios o estilos, combinan
          detalles nostálgicos con un toque de actualidad, siendo perfectos para
          quienes desean expresar su individualidad a través de piezas únicas.
        </p>
        <p>
          En nuestro catálogo, nostalgia y modernidad se encuentran, creando un
          espacio donde lo vintage se mezcla con lo contemporáneo para ofrecer
          una experiencia integral. Ya sea que busques revivir los clásicos o
          descubrir ediciones limitadas, en nuestra tienda encontrarás el lugar
          perfecto para tu pasión por la música y la cultura pop.
        </p>
      </div>
    </div>