<body>

    <main>
        <section class="Imagen-Bienvenida">
            <div class="Contenido-Bienvenida">
                <h1>Psycho Rekord's</h1>
                <p>Una experiencia unica en formato fisico para disfrutar al maximo tus generos favoritos.</p>
            </div>
        </section>
        <section class="secciones-tienda">
            <div class="section1">
                <a [routerLink]="['/catalogo']">
                    <!-- Enlace a la seccion de novedades -->
                    <img src="enlace1.png" alt="icon">
                </a>
            </div>
            <div class="section2">
                <a [routerLink]="['/catalogo']">
                    <!-- Enlace a la seccion de musica -->
                    <img src="enlace2.png" alt="icon">
                </a>
            </div>
        </section>
    </main>



</body>